ENV
output_folder
input_folder/*.CPG
input_folder/*.dbf
input_folder/*.prj
input_folder/*.sbn
input_folder/*.shp
input_folder/*.sbx
input_folder/*.shp.xml
input_folder/*.shx
input_folder/*.csv
input_folder/*.rtf
input_folder/_prj
input_folder/_DS_Store
input_folder/*.tif
*.pyc
